<div class="finding {{ severity_class }}">
    <h3>{{ title }}</h3>
    <p><span class="severity-badge severity-{{ severity_class }}">Severity: {{ severity }}</span></p>
    
    {{ #if has_cvss }}
    <p><strong>CVSS Score:</strong> {{ cvss_score }}</p>
    {{ /if }}
    
    <div class="description">
        <h4>Description:</h4>
        <p>{{ description }}</p>
    </div>
    
    <div class="affected-targets">
        <h4>Affected Targets:</h4>
        <ul>
            {{ affected_targets }}
        </ul>
    </div>
    
    <div class="evidence">
        <h4>Evidence:</h4>
        <p>{{ evidence }}</p>
    </div>
    
    {{ #if has_remediation }}
    <div class="remediation">
        <h4>Remediation:</h4>
        <p>{{ remediation }}</p>
    </div>
    {{ /if }}
    
    {{ #if has_references }}
    <div class="references">
        <h4>References:</h4>
        <ul>
            {{ references }}
        </ul>
    </div>
    {{ /if }}
    
    {{ #if has_tags }}
    <div class="tags">
        <h4>Tags:</h4>
        <p>{{ tags }}</p>
    </div>
    {{ /if }}
</div>